{% extends 'base.html' %}


{% block content %}

<section id="hero" class="mb-5">
    {% include 'banners/banners_carousel.html' %}
</section>

<section id="featured" class="mb-5">
    {% include 'products/product_featured.html' %}
</section>

<section id="our-services" class="mb-5">
    {% include 'services.html' %}
</section>

<section id="bestsellers" class="mb-5">
    {% include 'products/product_bestsellers.html' %}
</section>

<section id="video" class="mb-5">
    <div class="container text-center">
    {% for video in videos %}
    {% if video and video.code %}
    {% autoescape off %}
    {{ video.code }}
    {% endautoescape %}
    {% endif %}
    {% endfor %}
    </div>
</section>

<section id="most-viewed" class="mb-5">
    {% include 'products/product_most_viewed.html' %}
</section>

<section id="testimonials" class="mb-5">
    {% include 'testimonials.html' %}
</section>

<section id="sitemap" class="mb-5">
    <div class="container">
        <h2>TODO: Sitemap</h2>
    </div>
</section>

<footer id="footer" class="py-5 bg-dark text-white">
    <div class="container">
        <h2>TODO: Footer</h2>
    </div>
</footer>

{% endblock %}

