<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>
           <!-- <li class="nav-item">
                <a href="/blog" class="nav-link">Blog</a>
            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a href="/admin" class="nav-link">Admin</a>-->
            <!--            </li>-->
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-light dropdown-toggle" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/accounts/profile">Profile</a>
                    <a class="dropdown-item" href="/cart">My Cart</a>
<!--                    <a class="dropdown-item" href="#">My Orders</a>-->
<!--                    <a class="dropdown-item" href="#">Wish List</a>-->
                    <a class="dropdown-item" href="/accounts/logout">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <span class="nav-link"><a class="btn btn-light" href="/accounts/login">Login</a></span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
