<div class="container">
    <h1>SiteMap</h1>
    <section id="sec1">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a href="{{ home.html }}">Home</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="{{ product_bestsellers.html }}"> Products BestSellers</a></li>
                    <li><a href="{{ product_most_viewed.html }}"> Products Most Viewed</a></li>
                    <li><a href="{{ product_list.html }}"> Products</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="{{ services.html }}"> Our Services</a></li>
                    <li><a href="{{ about.html }}"> About</a></li>
                    <li><a href="{{ testimonials.html }}"> Testimonials</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="{{ contact.html }}"> Contact</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

