<div class="container">
    <h1>SiteMap</h1>
    <section id="sec1">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a href="#body">Home</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="#bestsellers"> Products BestSellers</a></li>
                    <li><a href="#most-viewed"> Products Most Viewed</a></li>
                    <li><a href="/products/"> Products</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="#our-services"> Our Services</a></li>
                    <li><a href="/about/"> About</a></li>
                    <li><a href="#testimonials"> Testimonials</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="/contact/"> Contact</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

